@model webApp.Models.ScientificAchievement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit the Member Scientific Achievement</h1>

<div class="row">
    <div class="col-md-6 m-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />
            <input asp-for="StaffId" asp-items="ViewBag.StaffId" type="hidden" />

            <div class="form-group p-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Description" class="control-label"></label>
                @* <input asp-for="Description" class="form-control" /> *@
                <textarea cols="5" rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div> *@
            <div class="form-group p-2">
                <input type="submit" value="Save" class="btn btn-primary m-5 w-25 m-auto" /> |
                <a asp-controller="Staffs" asp-action="Details" asp-route-id="@ViewBag.StaffId" class="btn btn-dark m-5 w-25 m-auto">Back to Details</a>
            </div>
        </form>
    </div>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
