@{
    ViewData["Title"] = "Career Opportunities";
}

<h1>Career Opportunities</h1>

<h2>Applications Developer</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita aliquid soluta dolor laborum, tempore quas quis voluptate voluptatibus! Ratione dolor consectetur quam perspiciatis sequi fugit magnam quisquam! Excepturi, dolores nesciunt hic eius veritatis sequi vitae labore quibusdam unde earum vel explicabo cupiditate accusantium commodi molestias doloribus necessitatibus magnam perspiciatis omnis animi amet natus dolore. Autem accusantium dolores deserunt cum ipsam voluptatum vel dolor corrupti, eius cumque odio rerum nihil facilis distinctio iure, repellendus voluptatibus est. </p>
