@model Course

@{
    ViewData["Title"] = "Edit Course";
}

<h1>Edit Course</h1>
 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="CourseTitle" class="control-label"></label>
                <input asp-for="CourseTitle" class="form-control" />
                <span asp-validation-for="CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecture" class="control-label"></label>
                <input asp-for="Lecture" class="form-control" />
                <span asp-validation-for="Lecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalTutorial" class="control-label"></label>
                <input asp-for="PracticalTutorial" class="form-control" />
                <span asp-validation-for="PracticalTutorial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prerequisite" class="control-label"></label>
                <input asp-for="Prerequisite" class="form-control" />
                <span asp-validation-for="Prerequisite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseWork" class="control-label"></label>
                <input asp-for="CourseWork" class="form-control" />
                <span asp-validation-for="CourseWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermExams" class="control-label"></label>
                <input asp-for="TermExams" class="form-control" />
                <span asp-validation-for="TermExams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalExam" class="control-label"></label>
                <input asp-for="FinalExam" class="form-control" />
                <span asp-validation-for="FinalExam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OralPractical" class="control-label"></label>
                <input asp-for="OralPractical" class="form-control" />
                <span asp-validation-for="OralPractical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamTime" class="control-label"></label>
                <input asp-for="ExamTime" class="form-control" />
                <span asp-validation-for="ExamTime" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
